@import 'tailwindcss';

@theme {
  --color-primary: var(--ant-color-primary);
  --color-primary-bg: var(--ant-color-primary-bg);
  --color-gray: #595959;
  --shadow-1: 0px 1px 4px rgba(0, 0, 0, 0.08);

  --animate-progress-indeterminate: progress-indeterminate 1.25s infinite linear;

  @keyframes progress-indeterminate {
    0% {
      transform: translateX(-100%) scaleX(0.2);
    }
    50% {
      transform: translateX(0%) scaleX(0.5);
    }
    100% {
      transform: translateX(100%) scaleX(0.2);
    }
  }
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
  .ant-form-item-required {
    flex-direction: row-reverse;
    display: inline-flex;
    align-items: center;
  }
  .ant-form-item-required::after {
    display: none;
  }
  .ant-form-item-required::before {
    margin-right: 0;
    margin-left: 4px;
  }
}

/* Custom Ant Design Menu styles */
@layer components {
  .ant-menu-item {
    border-right: 2px solid transparent;
    transition: border-color 0.3s;
  }

  .ant-menu-item-selected {
    border-right: 2px solid var(--ant-color-primary) !important;
  }
}
